<div class="row">
  <% if (INLINE_FORMS_SHOW_INDENT rescue true) %>
    <div class='col-md-1 col-lg-1'>
      &nbsp;
    </div>
    <div class='col-sm-11'>
  <% else %>
    <div class='col-sm-12'>
  <% end %>
    <% unless @skip %>
    <div class="card card-info mt-2 pr-1">
      <div class="card card-header">
        <div class="col-sm-11">
          <h4><%= h(@object._presentation) -%></h4>
        </div>
        <div class="col-sm-1 text-right mr-1" >
          <%= close_link(@object, @update_span) -%>
        </div>
      </div>
    <% end %>
    <div class="card-body">
    <% attributes = @inline_forms_attribute_list || @object.inline_forms_attribute_list -%>
    <% attributes.each do | attribute, name, form_element | -%>
      <% if cancan_disabled? || can?(:read, @object, attribute) %>
        <% css_class_id = "#{@object.class.name.underscore}_#{@object.id}_#{attribute}" -%>
        <% if form_element == :header %>
          <div class="title-block">
            <h3 class="title"><%= @object.class.human_attribute_name(attribute) %></h3>
          </div>
          <hr>
        <% else %>
          <% if form_element == :tree -%>
            <div class="row form_element_header associated_auto_header" id="<%= css_class_id -%>_list_auto_header" >
              <div class='medium-11 large-11 column' >
                Children
              </div>
              <div class='medium-1 large-1 column'>
                  <%= link_to_new_record(@object.class, "new_#{@object.class.to_s.underscore.singularize}_path", css_class_id, @object.class, @object.id) -%>
              </div>
            </div>
            <div class="row <%= cycle('odd', 'even') %>">
                <% if (INLINE_FORMS_TREE_INDENT rescue true) %>
                  <div class='medium-1 large-1 column'>
                    &nbsp;
                  </div>
                  <div id="<%= css_class_id -%>" class='small-11 column'>
                <% else %>
      	          <div id="<%= css_class_id -%>" class='small-12 column' >
                <% end %>
                <%= render  :partial => "inline_forms/tree",
                  :locals => {  :parent_class => @object.class,
                                :parent_id    => @object.id,
                                :attribute    => attribute } %>
                </div>
            </div>
          <% else %>
            <% if form_element == :associated %>
                <div class="title-block">
                  <h3 class="title">
                    <%= @object.class.human_attribute_name(attribute) %> <%= link_to_new_record(attribute.to_s.singularize.camelcase.constantize, "new_#{attribute.to_s.underscore.singularize}_path", css_class_id, @object.class, @object.id) -%>
                  </h3>
                </div>
                <hr>
      	         <div class="row">
                  <% if (INLINE_FORMS_ASSOCIATED_INDENT rescue true) %>
                    <div class='col-md-1 col-lg-1'>
                      &nbsp;
                    </div>
                    <div id="<%= css_class_id -%>" class='col-sm-11'>
                  <% else %>
        	          <div id="<%= css_class_id -%>" class='col-sm-11' >
                  <% end %>
                    <%= render  :partial => "inline_forms/list",
        	            :locals => {  :parent_class => @object.class,
        		                  :parent_id    => @object.id,
                                    :attribute    => attribute,
                                    :form_element => form_element } %>
      	          </div>
      	      </div>
            <% else %>
              <% if form_element == :has_one %>
                <div class="row <%= cycle('odd', 'even') %>">
                  <div class='medium-1 large-1 column'>
                    &nbsp;
                  </div>
                  <div id="<%= css_class_id -%>" class='small-11 column' >
                    <%= render  :partial => "inline_forms/list",
                      :locals => {  :parent_class => @object.class,
                                    :parent_id    => @object.id,
                                    :attribute    => attribute,
                                    :form_element => form_element } %>
                  </div>
                </div>
              <% else %>
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label text-xs-right">
                      <% if @object.has_validations_for?(attribute) -%>
                        <span data-tooltip class="has-tip tip-top" title="<%= validation_hints_as_list_for(@object, attribute).html_safe -%>">
                          <%= @object.class.human_attribute_name(attribute) -%>
                        </span>
                      <% else %>
                        <%= @object.class.human_attribute_name(attribute) -%>
                      <% end %>
                    </label>
                    <div class="col-sm-10">
                      <span id="<%= css_class_id -%>" >
                        <%= send("#{form_element}_show", @object, attribute)%>
                      </span>
                    </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if can? :list_versions, @object.class.name.pluralize.underscore.to_sym  %>
      <% css_class_id = "#{@object.class.name.underscore}_#{@object.id}_versions" -%>
      <div id="<%= css_class_id -%>">
        <%= render 'versions' %>
      </div>
    <% end %>
    </div>
    <div class="record_footer"></div>
  </div>
</div>
