<div class="text-center">
  <%= form_for(resource,  as:  resource_name,
      url: session_path(resource_name),
      html: { id:  'inline_forms_devise_form', class: 'form-signin' }
    ) do |f| %>

    <h2 class="h4 mb-3 font-weight-normal">Please sign in</h2>

    <label class="sr-only"><%= t :email %></label>
    <%= f.email_field :email, class: "form-control", placeholder: "Email address" %>

    <label class="sr-only"><%= t :password %></label>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox mb-3">
        <label>
          <%= f.check_box :remember_me %> <%= t :remember_me %>
        </label>
      </div>
    <% end %>

    <%= f.submit :login, class: 'btn btn-lg btn-primary btn-block' %>

    <div class="devise-links">
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>
</div>
